.footer{
    background-color: $primary;
    
    
    
}
.footer__btn{
    color: $secondary;
    padding: 20px 0;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    text-align: right;
    &:hover{
        color: $secondary;
        cursor: pointer;
    }
    
}

.footer .navbar{
@include media-breakpoint-down(xl) {
    display: none;
    }
}